<div>
    <h4 class="title">{{title}}</h4>
</div>

<form>
    <div class="form-horizontal contactForm">
    <div class="form-group">
        <label for="name" class="control-label col-md-3">Name</label>
        <div class="col-md-4">
            <input class="form-control" placeholder="Enter Name" />
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="control-label col-md-3">Email</label>
        <div class="col-md-4">
            <input class="form-control" placeholder="Email" />
        </div>
    </div>

    <div class="form-group">
        <label for="query" class="control-label col-md-3">Query</label>
        <div class="col-md-4">
            <textarea class="form-control" placeholder="Query" cols="20" rows="7"></textarea>
        </div>
    </div>
        <div class="form-group">
            <div class="col-md-offset-3">
                <button class="btn btn-primary">Submit</button>
                <button class="btn">Home</button>
            </div>
        </div>
    </div>
</form>